page-home {
  ion-content {
    background-image: url('../assets/imgs/wall.jpg');
  }
  h1 {
    color: white;
    text-align: center;
  }
  button {
    margin-top: 10rem;
  }
  .img {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  img {
    width: 200px;
    height: auto;
  }
}
